/* Coloring */

body {
    background-color: #E0E0E0;
}

h1 {
    color: black;
    counter-reset: h2counter;
}

h2 {
    color:#0D47A1;
    font-weight: bolder;
}

h3 {
    color: #1976D2;
    font-weight: bold;
}

h4 {
    color: #2196F3;
}

/* Section numbering */

body {
    counter-reset : h2;
}

h2 {
    counter-reset : h3;
}

h3 {
    counter-reset : h4;
}

h2:before {
    content : counter(h2,decimal) ". ";
    counter-increment : h2;
}

h3:before {
    content : counter(h2,decimal) "." counter(h3,decimal) ". ";
    counter-increment : h3;
}

h4:before {
    content : counter(h2,decimal) "." counter(h3,decimal) "." counter(h4,decimal) ". ";
    counter-increment : h4;
}


.wy-nav-content {
    max-width: 1200px;
}

.rst-content img {
    max-width: 900px;
}

.rst-content th, td {
    padding: 5px;
}

.section {
    margin-bottom: 30px;
}

.rst-content code {
    color: brown;
}